    * {
    box-sizing: border-box;
    transition: 0.3s;
    }

    body {
        margin: 0;
        padding: 0;
    }
    section#degreeCalculator {
        width: 100%;
        height: 100vh;
        padding: 10px;
    }

    p {
    margin: 0;
    }

    .centering {
    max-width: 650px;
    text-align: center;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    }

    .C-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 17px rgba(0,0,0, 27%);
    position: relative;
    }

    .C-head {
    width: 100%;
    padding: 0 5px;
    position: relative;
    background-color:#00bbf1;
    color: white;
    }

    .C-head h2 span{
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 125%;
    right: 5px;
    top: calc(50% - 20px);
    background-color: white;
    color: #00bbf1;
    font-size: 30px;
    cursor: pointer;
    }

    .C-head h2 span:hover {
    background-color: #4ccaff;
    color: white;
    border:1px solid white;
    rotate: 180deg;
    }
    /* Modal */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px 10px 0 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 7px black;
    animation-name: appear;
    animation-duration: 0.4s;
    }

    @keyframes appear {
    from {opacity:0}
    to {opacity:1}
    }

    .modal-head {
    width: 100%;
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #00bbf1;
    }

    .modal-head .close {
    font-family: arial;
    color: #777;
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 19px;
    cursor: pointer;
    }

    .modal-head .close:hover {
    color: #333;
    }

    .modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #00bbf1;
    padding: 10px 0;
    width: 100%;
    }

    .modal-body div {
    padding: 5px;
    text-align: right;
    font-size: 18px;
    
    }

    .modal-foot {
    padding: 10px 0;
    }

    .modal-foot .close {
    border-radius: 6px;
    background-color: red;
    border: 1px solid transparent;
    color: white;
    padding: 7px;
    cursor: pointer;
    }

    .modal-foot .close:hover {
    color: red;
    background-color: white;
    border-color: red;
    }

    .modal-foot .addSub {
    background-color: #00bbf1;
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    }

    .modal-foot .addSub:hover {
    color: #00bbf1;
    background-color: white;
    border-color: #00bbf1;
    }

    .C-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    color: #00bbf1;
    }

    .C-body input {
    outline: none;
    padding: 5px;
    caret-color: #00bbf1;
    }

    .C-body .subjects {
    color: black;
    background-color: #eee;
    padding: 5px 0;
    width: 100%;
    display:flex;
    flex-direction: column;
    gap: 5px;
    max-height: 55vh;
    overflow: scroll;
    }

    .C-body .subjects .subject {
    position: relative;
    border: 1px solid #00bbf1;
    border-radius: 6px;
    padding: 15px;
    width: 80%;
    margin: 5px auto;
    display:flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
    background-color: white;
    }

    .C-foot {
    width: 100%;
    padding: 10px 0;
    background-color:#00bbf1;
    }

    .C-foot button {
    outline: none;
    border: 1px solid #00bbf1;
    color: #00bbf1;
    background-color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
    }

    .C-foot button:hover {
    background-color: #4ccaff;
    border-color: white;
    color: white;
    }

    select {
    color: #4ccaff;  
    background-color: white;
    border: 1px solid ;
    border-radius: 6px;
    padding: 5px;
    }

    option {
    background-color: white;
    color: #4ccaff;
    }
    /* Progress bar */
    .degree {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid #00bbf1;
        outline: 5px solid #4ccaff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .degree p {
    margin: 0;
    padding: 0;
    }

    @media  (max-width: 500px){
      .C-body .subjects {
        max-height: 35vh !important;
      }
    }